version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: lifestyle
    ports: ['3306:3306']
    healthcheck:
      test: ['CMD-SHELL', 'mysqladmin ping -h localhost']
      interval: 10s
      timeout: 5s
      retries: 10

  zookeeper:
    image: bitnami/zookeeper:3.9
    environment:
      ALLOW_ANONYMOUS_LOGIN: 'yes'
    ports: ['2181:2181']

  kafka:
    image: bitnami/kafka:3.8
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      ALLOW_PLAINTEXT_LISTENER: 'yes'
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    ports: ['9092:9092']
    depends_on: [zookeeper]

  lifestyleapi:
    image: stackroutenew/lifestyleapi
    container_name: lifecontainer
    ports: ['3232:3232']

  config-server:
    build: ./config-server
    ports: ['8888:8888']

  api-gateway:
    build: ./api-gateway
    ports: ['8080:8080']
    environment:
      JWT_SECRET: supersecretjwt
      # Static route backends
      AUTH_URL: http://auth-service:8081
      USER_URL: http://userprofile-service:8082
      LIFESTYLE_URL: http://lifestyle-service:8083
      FAVORITE_URL: http://favorite-service:8084
    depends_on: [auth-service, userprofile-service, lifestyle-service, favorite-service]

  userprofile-service:
    build: ./userprofile-service
    ports: ['8082:8082']
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/lifestyle?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: secret

  auth-service:
    build: ./auth-service
    ports: ['8081:8081']
    environment:
      JWT_SECRET: supersecretjwt
      USERPROFILE_URL: http://userprofile-service:8082

  lifestyle-service:
    build: ./lifestyle-service
    ports: ['8083:8083']
    environment:
      LIFESTYLE_API_URL: http://lifestyleapi:3232
      SPRING_KAFKA_BOOTSTRAPSERVERS: kafka:9092

  favorite-service:
    build: ./favorite-service
    ports: ['8084:8084']
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/lifestyle?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: secret
      SPRING_KAFKA_BOOTSTRAPSERVERS: kafka:9092
